.container_display{
    background-color:black;
}
.tabbar__content{
    background-color:black;
}
.card{
    background-color: black;
    
}
.card-body{
    background-color:black;
    color:white;
}

.display-4{
    color:#ebb617;
}
.toolbar__title{
    
    color:whitesmoke;
    font-weight: bold;
   
    
}
.tabbar{
    background-color: #ebb617;
    color: white;
    
}
.logo{
    width: 30px;
    height: auto;
    margin-left: 5%;
}
.toolbar{
    background-color:#ebb617;

}

