
<ons-page id="category">
    
     
    
    

        <!-- <ons-toolbar>
         <div class="center">
          
                 <ons-segment  tabbar-id="tabbar" style="width: 350px" >
                    <button ></button>
                   <button >ทุกประเภท</button>
                   <button  >ความรัก</button>
                   <button  >คอมเมดี้</button>
                   <button  >ดราม่า</button>
                   <button >แฟนตาซี</button>
                   <button  >สยองขวัญ</button>
                   <button >แอคชั่น</button>
                 </ons-segment>
               </div>
           
             </ons-toolbar>
             
           
           
         
     
       <ons-tabbar id="tabbar">
        <ons-tab  active ></ons-tab>
         <ons-tab page="allcategory.html " active ></ons-tab>
         <ons-tab page="romantic.html" active ></ons-tab>
         <ons-tab page="drama.html" active></ons-tab>
         <ons-tab page="comedy.html"  active></ons-tab>
         <ons-tab page="fantasy.html" active></ons-tab>
         <ons-tab page="horror.html"  active></ons-tab>
         <ons-tab page="action.html" active></ons-tab>
         
       </ons-tabbar>
   
     
     <template id="allcategory.html">
       <ons-page>
         <div id="allcategory"></div> 
         <div id="romantic"></div>
         <div id="drama"></div>
         <div id="comedy"></div>
         <div id="fantasy"></div>
         <div id="horror"></div>
         <div id="action"></div>
       </ons-page>
     </template>
     
     <template id="romantic.html">
       <ons-page>
         <div id="romantic1"></div>
       </ons-page>
     </template>
     
     <template id="drama.html">
       <ons-page>
           <div id="drama1"></div>
       </ons-page>
     </template>

     <template id="comedy.html">
       <ons-page>
           <div id="comedy1"></div>
       </ons-page>
     </template>

     <template id="fantasy.html">
       <ons-page>
           <div id="fantasy1"></div>
       </ons-page>
     </template>

     <template id="horror.html">
       <ons-page>
           <div id="horror1"></div>
       </ons-page>
     </template>

     <template id="action.html">
       <ons-page>
           <div id="action1"></div>
       </ons-page>
     </template>   -->

    
   
   




</ons-page>

    
    
    



