<ons-page id="category">

    <ons-row id="testest" class="d-flex justify-content-center">
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="ทุกประเภท">ทุกประเภท</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="ความรัก">ความรัก</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="คอมเมดี้">คอมเมดี้</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="ดราม่า">ดราม่า</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="แฟนตาซี">แฟนตาซี</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="สยองขวัญ">สยองขวัญ</button>
        <button type="button" style="margin: 2px" class="btnCategory btn btn-primary" id="แอคชั่น">แอคชั่น</button>
    </ons-row>
    <div id="showmovieCategory"></div>
</ons-page>





    
     
    
    
