
<ons-page id="category">
    <ons-toolbar>
        
        <!-- <div class="left">
            <ons-back-button id="back">back</ons-back-button>
            
        </div> -->
        <div class="center">
            <p style="color: black;">category</p>
            
        </div>
        
    </ons-toolbar>
     <!-- <section>
        <v-ons-button class="button"  >ทุกประเภท</v-ons-button>
    </section> -->
    
    <ons-carousel  swipeable auto-scroll  id="carousel">
        <ons-carousel-item > <v-ons-button class="button"  >ทุกประเภท</v-ons-button><div id="allcategory"></div>
        </ons-carousel-item>
        <ons-carousel-item > <v-ons-button class="button"  >ความรัก</v-ons-button> <div id="romantic"></div>
        </ons-carousel-item>
        <ons-carousel-item >  <v-ons-button class="button"  >คอมเมดี้</v-ons-button><div id="comedy"></div>
        </ons-carousel-item>
        <ons-carousel-item >  <v-ons-button class="button"  >ดราม่า</v-ons-button><div id="drama"></div>
        </ons-carousel-item>
        <ons-carousel-item >  <v-ons-button class="button"  >สยองขวัญ</v-ons-button><div id="้horror"></div>
        </ons-carousel-item>
        <ons-carousel-item >  <v-ons-button class="button"  >แฟนตาซี</v-ons-button><div id="fantasy"></div>
        </ons-carousel-item>
        <ons-carousel-item >  <v-ons-button class="button"  >แอคชั่น</v-ons-button><div id="้action"></div>
        </ons-carousel-item>

    </ons-carousel> 

    
    
    
</ons-page>


