<ons-page id="detail1">
  
    <ons-toolbar>
      <div class="left"><ons-back-button id="back">back</ons-back-button></div>
    </ons-toolbar>
    <div id="show"></div>

    <ons-row class="text-center" style="margin-top: 10px;">
      <ons-col class="category-item" width="50%">
      <ons-icon  id="like" label="Favorite"  size="25px" icon="md-favorite" onclick="setColor('like', '#101010')"></ons-icon>
      <p class="category-item" width="36%" > <b>Favorite</b> </p>
      </ons-col>
      <ons-col class="category-item" width="50%">
          <ons-icon id="play" label="Play" size="25px" icon="play" ></ons-icon>
          <p class="category-item" width="36%" > <b>Play</b> </p>
      </ons-col> 
    </ons-row>

    


  
</ons-page>