<ons-page id="Home">
    <div class="container">
    <ons-navigator swipeable id="myNavigator" page="category.html"></ons-navigator>
  
        <ons-page id="Home">

            <ons-toolbar>
                <div class="left">
                    <img class="logo" src="images/logo_MongDoo.png" alt="">
                    MongDuu 
                </div>
                <div class="right">

                    <ons-toolbar-button style="color: #646462;" id="">
                        <ons-icon id="category" label="category" icon="search" size="25px"></ons-icon>&nbsp;
                    </ons-toolbar-button>
                </div>   
            </ons-toolbar>


   
        <ons-carousel auto-scroll auto-scroll-ratio="0.5" auto-refresh swipeable overscrollable >
            <div id="home">      
            </div>
        </ons-carousel>

   
      
    
        <div class="category" >
            <ons-row class="text-center" style="margin-top: 10px;">
                <ons-col class="category-item" width="35%">
                <ons-icon  id="like" label="Favorite"  size="25px" icon="md-favorite" onclick="setColor('like', '#101010')"></ons-icon>
                <p class="category-item" width="36%" > <b>Favorite</b> </p>
                </ons-col>
                <ons-col class="category-item" width="30%">
                    <ons-icon id="play" label="Play" size="25px" icon="play" ></ons-icon>
                    <p class="category-item" width="36%" > <b>Play</b> </p>
                </ons-col> 
                <ons-col class="category-item" width="30%">
                    <ons-icon id="reorder" label="Information" size="25px" icon="info"></ons-icon>
                    <p class="category-item" width="36%" > <b>Info</b> </p>
                </ons-col>   
            </ons-row>
        </div>

            <div class="header-label">
                <h3><b>ดูล่าสุด</b></h3>
            </div>
            <ons-card>
                <div>
                    <ons-carousel swipeable auto-scroll overscrollable id="viewed">
                    </ons-carousel>
                </div>
            </ons-card>

            <div class="header-label">
                <h3><b>10 อับดับในไทยวันนี้</b></h3>
            </div>
            <ons-card>
                <div>
                    <ons-carousel swipeable auto-scroll overscrollable id="hot">
                    </ons-carousel>
                </div>
            </ons-card>

            <div class="header-label">
                <h3><b>แนะนำสำหรับคุณ</b></h3>
            </div>
            <ons-card>
                <div>
                    <ons-carousel swipeable auto-scroll overscrollable id="ForYou">
                    </ons-carousel>
                </div>
            </ons-card>

        </ons-page>
  
</ons-page> 

