<ons-page id="Home">
    <ons-toolbar>
        
        <div class="left">
            <img class="logo"  src="images/logo_MongDoo.png" alt="" >
              MongDuu
        </div>
        <div class="right">
            <ons-toolbar-button style="color: #0f0f0e;" id="">
                <ons-icon page="views/category.html" label="Category" icon="md-view-module" size="25px"></ons-icon>&nbsp;<span id="count_order_list"></span>
            </ons-toolbar-button>

        </div>
    </ons-toolbar>
    <div class="container_display">
    <div class="display-4">Movies</div>
    <div id="list"></div>
</div></ons-page>
