
    
    <ons-page>
      
        <ons-toolbar>
            <div class="center">
              <img class="img"  src="../images/logo_MongDoo.png" alt="" >Profile
            </div>
          </ons-toolbar>
       
          
            <div>
              <center>
              <img class="img" src="../images/010.png" width="200 px" height="200 px">
           </center>
           </div>

            

          <ons-list>
            

            <ons-list-item>Name : <span id="username"></span></ons-list-item>
            <ons-list-item>Lastname : ใจดี</ons-list-item>
            <ons-list-item>Email : <span id="email"></span></ons-list-item>

            <ons-list-item>Name : สมศรี</ons-list-item>
            <ons-list-item>Lastname : ใจดี</ons-list-item>
            <ons-list-item>Email : edcn071998@gmail.com</ons-list-item>

            <ons-list-item>Tel : 071*******</ons-list-item>
           
            </ons-list-item>
            

            <ons-list-item>
              <div class="left">
               
              <i class='fas fa-barcode'></i>
              </div>
              <div class="center">
                สแกน QR code
              </div>
            </ons-list-item>


            <ons-list-item>
               <div class="left">
                <i class="fas fa-language"></i>
            </div>
              <div class="center">
               ภาษา
              </div>
            </ons-list-item>
            

            <ons-list-item>
              <div class="left">
                <i class="material-icons">history</i>
              </div>
              <div class="center">
                ประวัติการรับชม
              </div>
            </ons-list-item>
        
            <ons-list-item>
              <div class="left">
                <i class='fas fa-bookmark'></i>
              </div>
              <div class="center">
                บุ๊คมาร์ก
              </div>
            </ons-list-item>


            <ons-list-item>
              <div class="left">
                <i class='fas fa-cog'></i>
              </div>
              <div class="center">
                การตั้งค่า
              </div>
            </ons-list-item>
           
                        
          <div class="bottom" >
            <p>
               <center> 

               
                <ons-button onclick=window.location.href="signin.html" style="width: 95%; margin: 0 auto;" id ="signout">
                  signout
              

                <ons-button onclick=window.location.href="signin.html" style="width: 95%; margin: 0 auto;">
                logout

              </ons-button>
             </center> 
            </p>

           
        </div>  
    </ons-page>
 
           
    



